.instagram_register{
    width:360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 14px;
    display:inline; 
    padding: 20px ;
}

.register_link{
    color: #0196f6;
    display:inline; 

    font-weight: bold;

}



@media (max-width:450px){
    .instagram_register {
       border: none;
    }
}